/*----------------------common-------------------------*/
* {
  font-family: source-sans-pro, sans-serif;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 300px;
  /* only if you want fixed height */
}