@charset "utf-8";
body {
	margin: 0px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
}
.xiadaoh {
	height: 770px;
	width: 224px;
	border: 1px solid #CCCCCC;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.xiadaoh99 {
	height: 1100px;
	width: 224px;
	border: 1px solid #CCCCCC;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.wenzi {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #7B0000;
	font-weight: bold;
}
.title {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}
.y1-2 {
	height: 210px;
	width: 240px;
	margin-right: auto;
	margin-left: auto;
}
.y1-3 {
	font-size: 12px;
	color: #333333;
	float: none;
	width: 240px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
	line-height: 20px;
}
.y1-4 {
	font-size: 12px;
	color: #333333;
	float: none;
	width: 174px;
	margin-right: auto;
	margin-left: auto;
	height: 70px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.y1-5 {
	font-size: 12px;
	color: #333333;
	float: none;
	width: 232px;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	max-height: 200px;
	overflow-y:auto;
	overflow-X:hidden;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.y0-1
 {
	background-image: url(../01-5.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 245px;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
}
.y0-879
 {
	background-image: url(../01-9.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 213px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
}
.xiayou {
	float: left;
	height: 770px;
	width: 250px;
	margin-top: 10px;
	margin-right: 10px;
}
.xiazhong {
	height: 770px;
	width: 482px;
	float: left;
	margin-top: 10px;
	margin-right: 23px;
	margin-bottom: 0px;
	margin-left: 23px;
}
.xiazhong_2 {
	height: 770px;
	width: 730px;
	float: left;
	margin-top: 10px;
	margin-right: 23px;
	margin-bottom: 0px;
	margin-left: 23px;
}
xiazhong_22 {
	height: 150px;
	width: 700px;
	float: left;
	margin-top: 10px;
	margin-right: 23px;
	margin-bottom: 0px;
	margin-left: 23px;
}

.xiazhong_99 {
	height: 770px;
	width: 730px;
	float: left;
	margin-top: 10px;
	margin-right: 23px;
	margin-bottom: 0px;
	margin-left: 23px;
}

.xiazhong_1300 {
	height: 770px;
	width: 730px;
	float: left;
	margin-top: 10px;
	margin-right: 23px;
	margin-bottom: 0px;
	margin-left: 23px;
}


.xia-01 {
	height: 787px;
	width: 1051px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}
.xia-026 {
	height: 1115px;
	width: 1051px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}

.xia-2026 {
	height: 1850px;
	width: 1051px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}

.xia-2027 {
	height: 1050px;
	width: 1051px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}

.xia-1400 {
	height: 770px;
	width: 1051px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}

.xia-019 {
	height: 2px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #102f5d;
}

.xia-1019 {
	height: 2px;
	width: 1800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #102f5d;
}

.zuo {
	float: left;
	height: 787px;
	width: 11px;
}

.zuo99 {
	float: left;
	height: 1100px;
	width: 11px;
}

.zuo299 {
	float: left;
	height: 1500px;
	width: 11px;
}

.xia {
	height: 940px;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.xia86 {
	height: 1800px;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.dhd {
	height: 40px;
	width: 100%;
}
.dt {
	width: 1026px;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
}
.tou {
	height: 80px;
	width: 1029px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.dh {
	width: 1029px;
	margin-right: auto;
	margin-left: auto;
	height: 40px;
}
.dhg {
	float: left;
	height: 13px;
	width: 7px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 7px;
}

.pp8 {
	text-align: center;
	width: 150px;
	float: left;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	color: #333333;
	margin-right: 0px;
	margin-left: 0px;
}
.pp8 a 
{
	display:block;
	width:150px;
	padding-top: 5px;
	background-position: center center;
	font-size:14px;
	color:#333333;
	text-decoration:none;
	height: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
	padding-bottom: 5px;
}
.pp8 a:hover
{
    background-color:#0D264E;
	font-size:14px; 
	color:#ffffff; 
	text-decoration:none;
	font-family: "微软雅黑";
    }
.xiaz-1 {
	float: none;
	width: 471px;
	margin-right: auto;
	margin-left: auto;
	height: 22px;
	margin-bottom: 10px;
}
.xiaz-news {
	float: none;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	height: 22px;
	margin-bottom: 10px;
	margin-top: 143px;
}
.xiaz-news1 {
	float: none;
	width: 730px;
	margin-right: auto;
	margin-left: auto;
	height: 22px;
	margin-bottom: 10px;
}
.xiaz-img {
	float: none;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	height: 22px;
	margin-bottom: 10px;
}
.xiaz-2 {
	float: left;
	height: 20px;
	width: 400px;
		font-family: "微软雅黑";
	font-size: 16px;
	color: #7B0000;
	font-weight: bold;
}
.xiaz-29 {
	float: left;
	height: 20px;
	width: 100px;
		font-family: "微软雅黑";
	font-size: 16px;
	color: #7B0000;
	font-weight: bold;
}
.xiaz-99 {
	float: left;
	height: 20px;
	width: 140px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #7B0000;
	font-weight: bold;
}
.xiaz-3 {
	background-image: url(../g_ins/01-39.jpg);
	float: left;
	height: 22px;
	width: 700px;
}
.xiaz-88 {
	background-image: url(../01-4.jpg);
	float: left;
	height: 22px;
	width: 600px;
	margin-left: 15px;
}
.xiaz-4 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	height: 40px;
	width: 700px;
	margin-right: auto;
	margin-left: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
}
.xiaz-41 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	height: 1300px;
	width: 700px;
	margin-right: auto;
	margin-left: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
}
.xiaz-5 {
	float: left;
	height: 11px;
	width: 5px;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 10px;
}
.xiaz-6 {
	float: left;
	height: 20px;
	width: 600px;
	margin-top: 5px;
}
.xiaz-61 {
	float: left;
	height: 1200px;
	width: 600px;
	margin-top: 25px;
}
.xiaz-7 {
	float: left;
	height: 20px;
	width: 90px;
	margin-top: 5px;
	margin-left: 52px;
}
.xiaz-89 {
    margin-top: 40px;
	height: auto;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999999;
	font-size: 14px;
	padding: 5px;
	line-height: 20px;
}

.xiaz-599 {
	margin-top: 40px;
	
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999999;
	font-size: 14px;
	padding: 5px;
	line-height: 20px;	
	color: #333333;
	
	max-height:865px; 
	height:expression(width>300?"300px":height+"px"); 
	overflow-y:auto;
}

.xiaz-700 {
	margin-top: 40px;
	
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999999;
	font-size: 14px;
	padding: 5px;
	line-height: 20px;	
	color: #333333;
	
	max-height:1850px; 
	height:expression(width>300?"300px":height+"px"); 
	overflow-y:auto;
}

.xiaz-1300 {
	/*margin-top: 40px;*/
	
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999999;
	font-size: 14px;
	padding: 5px;
	line-height: 20px;	
	color: #333333;
	
	max-height:500px;
	height:expression(width>300?"300px":height+"px"); 
	overflow-y:auto;
	/*overflow-X:hidden;*/
}





.cnt{
	color: #333333;
	font-family: "微软雅黑";
	font-size:14px;
	font-weight: normal;
}

.cnt02{
	color: #333333;
	font-family: "微软雅黑";
	font-size:12px;
}

.didibu {
	background-color: #102f5d;
	height: 150px;
	width: 100%;
}
.dibu-1 {
	font-size: 14px;
	color: #FFFFFF;
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	text-align: center;
}
.zdao {
	height: 32px;
	width: 211px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-top: 5px;
}
.zdao-1 {
	height: 30px;
	width: 211px;
}
.zdao-1 a 
{
	display:block;
	width:211px;
	padding-top: 5px;
	background-position: center center;
	font-size:14px;
	color:#333333;
	text-decoration:none;
	height: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
	padding-bottom: 5px;
	background-image:url(../2.gif);
background-repeat:no-repeat;
background-position:center;
}
.zdao-1 a:hover
{
background-image:url(../1.gif);
background-repeat:no-repeat;
background-position:center;
	font-size:14px; 
	color:#ffffff; 
	text-decoration:none;
	font-family: "微软雅黑";
}



.zdao-2 {
	height: 20px;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
}

.zdao-9 {
	height: 30px;
	width: 211px;
}
.zdao-9 a 
{
	display:block;
	width:211px;
	padding-top: 5px;
	background-position: center center;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	height: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
	padding-bottom: 5px;
	background-image:url(../1.gif);
background-repeat:no-repeat;
background-position:center;
}
.zdao-9 a:hover
{
background-image:url(../1.gif);
background-repeat:no-repeat;
background-position:center;
	font-size:14px; 
	color:#ffffff; 
	text-decoration:none;
	font-family: "微软雅黑";
}

.zdaoxia {
	height: 118px;
	width: 206px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-color: #102F5D;
}
.zdaox-89 {
	height: 85px;
	width: 195px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.tianshu {
	background-color: #102f5d;
	height: 90px;
	width: 100%;
}
.tianshu-1 {
	font-size: 14px;
	color: #FFFFFF;
	height: 80px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	text-align: center;
	line-height: 25px;
}
.a1 {
	color: #0066FF;
	text-decoration: underline;
}