.login, .language {
    display: none;
}

/*banner*/
.banner {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner > a {
    height: inherit;
    width: inherit;
}

.banner > a > img {
    height: inherit;
    width: inherit;
}

/*minutesContent*/

.minutesContent {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
}

.minutesContent .title {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.minutes-group-list {
    width: 400px;
    margin: auto;
}

.minutes-group-list .row-bottom {
    margin-bottom: 10px;
}

.minutes-group-list .form-control,
.minutes-group-list .input-group-addon {
    border-radius: 0;
}

.col-control {
    padding: 7px 0;
    text-align: right;
}

.sexControl {
    padding: 6px;
}

.roomControl {
    margin-bottom: 5px;
}

.sexControl-item {
    padding: 0 20px 0 0;
    display: inline-block;
}

.minutesBtn {
    margin: 20px 0;
}

.minutesBtn > .btn {
    background-color: #1c81c1;
    color: #fff;
    min-width: 100px;
}

.minutesMoney,.minutesName {
    color: #f46;
    font-size: 20px;
    padding: 0 4px;
}

.minutes-group-item {
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .container,
    .minutes-group-list {
        width: 100%;
    }

    .nav>.container>.rightMenu,
    .banner {
        display: none;
    }

    .minutesContent{
        margin-top: 70px;
    }
    .col-control{
        text-align: left;
        padding-left: 16px;
    }

}
