@charset "utf-8";
body {
  font: 12px/1.5 "微软雅黑";
  margin: 0;
  min-height: 430px;
  min-width: 800px;
  overflow: auto;
}
html,
body,
#wrap {
  height: 100%;
}
a {
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  clear: both;
  content: "";
  display: table;
  line-height: 0;
}
.hide,
.hidden {
  display: none!important;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.QRCodeOuter {
  padding: 5px;
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
  border: 1px solid #bbb;
  background: #fff;
  font-size: 12px;
  text-align: center;
  color: #333;
}
.QRCodeOuter .QRCode {
  width: 80px;
  height: 80px;
  border: 1px solid #bbbbbb;
}
.mapTools {
  position: absolute;
  right: 20px;
  bottom: 127px;
}
.mapTools .zooms,
.mapTools .locate {
  position: absolute;
  bottom: 18px;
  width: 35px;
  height: 70px;
  border: 1px solid #bbb;
  border-radius: 2px;
}
.mapTools .zooms {
  right: 10px;
}
.mapTools .zoom-in,
.mapTools .zoom-out,
.mapTools .locate {
  display: block;
  width: 28px;
  height: 28px;
  cursor: pointer;
  overflow: hidden;
  background: #ffffff url(//yuntu.amap.com/datamanager/css/bg/scale.png) no-repeat;
}
.mapTools .zoom-in {
  background-position: -3px -1px;
  border-bottom: 1px solid #dfdfdf;
}
.mapTools .zoom-out {
  background-position: -3px -160px;
}
.modal-backdrop {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: #000;
  opacity: 0.52;
  filter: alpha(opacity=52);
}
.imgsOuter {
  position: absolute;
  z-index: 600;
  padding: 15px 15px 0 0;
  top: 50%;
  left: 50%;
  margin: -294px 0 0 -440px;
}
.imgs {
  position: relative;
  padding: 16px;
  background: #fff;
  /*overflow: hidden;*/
}
.imgsCloseIcon {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background: url(/datamanager/export/css/bg/gallery.png) 0 0;
}
.imgsCloseIcon:hover {
  background-position: -50px 0;
}
.imgsMain,
.imgsListGallery {
  width: 830px;
  position: relative;
  overflow: hidden;
}
.imgsMain {
  height: 420px;
}
.imgsListGallery {
  padding-top: 18px;
  height: 100px;
}
.imgsGallery {
  height: 100%;
  white-space: nowrap;
  position: relative;
  overflow: visible;
}
.imgsGallery table {
  width: 0;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}
.imgsGallery td {
  vertical-align: middle;
  width: 830px;
  height: 420px;
  text-align: center;
  padding: 0;
  font-size: 0;
}
.imgGalleryLoading {
  background: url(/datamanager/export/css/bg/img-uping.gif) 50% no-repeat;
}
.imgsGallery img {
  max-width: 100%;
  max-height: 100%;
}
.imgsBtns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imgsBtnPre,
.imgsBtnNext {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
}
.imgsBtnPre {
  left: 0;
}
.imgsBtnNext {
  right: 0;
}
.imgsBtnPreSpan,
.imgsBtnNextSpan {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  display: none;
  background: url(/datamanager/export/css/bg/gallery.png) 0 -50px;
}
.imgsBtnPreSpan {
  left: 17px;
}
.imgsBtnNextSpan {
  right: 17px;
  background-position: -100px -50px;
}
.imgsBtnPre:hover .imgsBtnPreSpan,
.imgsBtnNext:hover .imgsBtnNextSpan {
  display: block;
}
.imgsList {
  white-space: nowrap;
  position: relative;
}
.imgsList img {
  height: 100px;
  width: 130px;
  margin-right: 10px;
  border: none;
}
.imgsList .selected {
  height: 96px;
  width: 126px;
  border: 2px solid #0075c2;
}
.iwClose {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  right: 0;
  top: 10px;
  background: url(/datamanager/export/css/bg/close.png) 0px 0 no-repeat;
  background-size: 13px 13px;
}
.iwArrow {
  height: 22px;
  display: inline-block;
  width: 100%;
  background: url(/datamanager/export/css/bg/pointer.png) center -3px no-repeat;
}
.iwField {
  position: relative;
  padding: 4px 0 2px;
  min-height: 22px;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-all;
}
.iwBtnMore {
  color: #837954;
}
.iwPc {
  width: 380px;
  font-size: 12px;
  color: #333;
  position: relative;
}
.iwPcBorder,
.iwUserBorder {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ddd;
}
.iwPcName {
  height: 50px;
  line-height: 46px;
  margin: 0 15px 0 15px;
  padding-right: 15px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 16px;
  font-weight: bold;
  font-family: '微软雅黑';
}
.iwPcTop {
  padding: 10px 15px;
  position: relative;
}
.iwPcFields {
  max-height: 102px;
  overflow: auto;
  background: #fcfaf3;
  padding: 5px;
  color: #837954;
}
.iwPcImageYes .iwPcFields {
  padding-left: 108px;
  height: 100px;
  background: #fcfaf3;
}
.iwPcImage {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 15px;
  left: 20px;
}
.iwPcImage span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  _top: 80px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
}
.iwPcImageImg {
  max-height: 100px;
  max-width: 100px;
  border: none;
}
.iwPcBorder .iwPcImageImg {
  max-height: 100px !important;
  max-width: 100px !important;
}
.iwPcTab,
.iwPcBtn {
  border: 1px solid rgba(221, 221, 221, 0.36);
  text-align: center;
  display: inline-block;
}
.iwPcTabs {
  white-space: nowrap;
}
.iwPcTab {
  width: 50%;
  height: 34px;
  line-height: 34px;
  border-width: 1px 0;
  color: #000;
  background: #f8f8f8;
}
.iwPcTab2 {
  border-left-width: 1px;
  margin-left: -1px;
  background: #f8f8f8;
  color: #000;
}
.iwPcTab:hover {
  background: #eee;
}
.iwPcTabSelected {
  background: #fff;
  border-bottom: none;
  color: #000;
}
.iwPcTabSelected:hover {
  background: #fff;
}
.iwPcBottom {
  padding: 20px 10px 18px;
  white-space: nowrap;
  position: relative;
}
.iwPcBtn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-left: 6px;
  color: #0091ff;
  border: none;
}
.iwPcText {
  height: 30px;
  width: 240px;
  padding: 0;
  text-indent: 0.75em;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 3px;
  color: #333;
  line-height: 30px\0;
  *line-height: 30px;
}
.infoUrl {
  text-decoration: underline;
  color: #837954;
}
.infoUrl:hover,
.infoUrl:focus {
  color: #0091ff;
}
.iwPcSugs {
  position: absolute;
  top: 46px;
  /* padding:10+height:32+border:2, + 容错2px */
  left: 10px;
  width: 325px;
  border: 1px solid #bbb;
  background: #fff;
  font-size: 0;
  white-space: normal;
  overflow: hidden;
}
.iwPcSugItem {
  display: block;
  height: 24px;
  line-height: 24px;
  width: 100%;
  color: #333;
  font-size: 12px;
  padding-left: 10px;
}
.iwPcSugItem span {
  font-weight: bold;
  margin: 0 3px;
}
.iwPcSugItem em {
  color: #ccc;
  font-weight: normal;
  font-style: normal;
  margin-left: 14px;
}
.iwPcSugItem:hover,
.iwPcSugItemHover {
  background: #f0f0f0;
}
#mapObj {
  height: 100%;
}
.mapHolder {
  height: 100%;
}
.yuntuMarker {
  width: 27px;
  height: 43px;
  background: url(/datamanager/export/css/bg/pc3.png) 0 -450px no-repeat;
}
